.ui-dialog.ui-widget-content .ui-dialog-content {
    width: 400px;
    padding: 15px;
    font-size: 14px;
}


.ui-menu {
	z-index: 20 !important;
	overflow: visible !important;
	background-color: blue !important;
	
}